@import "subcss/header.css";

.game-title{
    text-align: start;
}

.game-title .game-title-text{
    width: 100%;
}

.game-description{
    text-align: start;
}

.game-description .game-description-text{
    width: 100%;
    text-align: start;
}

.game-wordlist .game-wordlist-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.game-submit{
    width: 100%;
    height: 45px;
}