@import "subcss/header.css";

.word-puzzle{
    width: 500px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.word-puzzle .row{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

.word-puzzle .row .cell{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0.1px solid #d7d7d6;
    font-size: 27px;
    font-weight: 600;
    color: #333333;
    position: relative;
}

.line{
    position: absolute;
    background-color:  rgba(0, 149, 255, 0.5); /* 라인 색상 */;
    pointer-events: none;
    z-index: 1;
}
